body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
h1{
    font-size: 60px;
 
}
.flex-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width:50% ;
    margin-left: 7%;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 7%;
  
}
.half-width img{
   width:68%;
   
}


p{
    text-align: justify;
    padding-bottom: 30px;
}
.button-link{
    text-decoration: none;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
   
}
.About-Me-Banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;

}
h2{
    font-size: 40px;
    color: gray;
}
.three-part-recipies{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 30px;
    text-align: justify;
    border-left: orange;


    box-shadow: 10px 10px 40px gray;
}
.three-part-recipies img{
    width:99%;
    border-radius: 15px;
    
}
h3{
    font-size: 35px;
    text-align: center;
    color:slategray;
    padding-top: 30px;

    
}
#recipie-text-align{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;

}
h4{
    font-size: 30px;
    font-weight: 900px;
    padding-bottom: 0;
}
h6{
    font-size: 25px;
    text-align: center;
    color:slategray;
}
.banner-services{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.three-part-services{
        width:35% ;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 20px;
        padding-right: 20px;
        text-align:justify;     
}
.three-part-services img{
    width: 110%;


}
.text-head{
    font-size: 20px;
}
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: lightblue; 

}
footer p{   
    text-align: center;
}